GET_PUTIO_HOST=0.0.0.0
GET_PUTIO_PORT=8000
GET_PUTIO_PRODUCT_NAME=get-put.io
GET_PUTIO_STORAGE_PATH=/media
GET_PUTIO_STATE_PATH=/app/data/state.json
RCLONE_BINARY=rclone

PUTIO_APP_ID=
PUTIO_CLIENT_SECRET=
PUTIO_REDIRECT_URI=http://localhost:8787/api/auth/putio/callback
PUTIO_ACCESS_TOKEN=

JELLYFIN_BASE_URL=http://localhost:8096
JELLYFIN_API_KEY=
